*~
.cproject
.project
.settings/*
**/*.o
**/output
**/*cMoflonDemoLanguage*
**/*~
src/app.co
src/app-conf.h
src/Makefile.target
src/Makefile-conf.include
src/contiki-*.*
src/symbols.*
src/*.ihex
src/*.sky
src/*.z1
src/obj_*/*
evaluation/vendor
# The following line excludes generated TC algorithms
src/components/topologycontrol/topologycontrol-*
*.exe
